#ignore the solution (.sln)
*.sln

#ignore the Visual studio temp something (.vs folder)
.vs/

#ignore the logfiles & txtfiles
*.log
*.txt

#ignore the portable version (.pdb)
*.pdb

#ignore packages
packages

#ingore ini files (.ini)
*.ini