#ignore the solution (.sln)
*.sln

#ignore the Visual studio temp something (.vs folder)
.vs/

#ignore the logfiles & txtfiles
*.log
*.txt

#ignore the portable version (.pdb)
*.pdb

#ignore packages
packages

#ignore ini files (.ini)
#*.ini

#ignore Release
CODEX/bin/Release/
CODEXUpdater/bin/Release/
CODEXOffsets/bin/Release/

CODEX/obj/Release/
CODEXUpdater/obj/Release/
CODEXOffsets/obj/Release/